.logo-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch;
}
#intro{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        background-image: url("./images/happy_tree_friends/intro-bkground-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 770px;

        
}

/* #start-button{
    font-size: 30px;
    background-color: red;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    
} */

canvas{
    background-image: url("./images/happy_tree_friends/bkground-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
canvas {
    background-image: url("");
    background-size: cover;
} */

.scoreDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        align-content: stretch;
}

.instructions{        
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.gameover{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    /* align-content: stretch; */
    background-image: url("./images/happy_tree_friends/gameOverGif.gif");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}